extends ./layout.jade

block content
	.container
		.row
			.col-xs-12.col-sm-2.col-md-3
				.btn-group-vertical
						button.btn.btn-default.newRoom.roomBtn.template(type='button')
				.btn-group-vertical.roomContainer
					button.btn.btn-default.showall(type='button' data-name='all') show all
					each room in rooms
						button.btn.btn-default.roomBtn(type='button' data-id='#{room.id}')= room.name
					button.btn.btn-link.addRoom(type='button') add a room
			.col-xs-12.col-sm-1
			.col-xs-12.col-sm-8.col-md-9
				.itemContainer
						table.table.table-hover
							thead
								tr
									th item
									th value($)
									th edit/delete
							thead.addItemTHead
								form.addItemForm
									tr
										th 
											input.itemName(placeholder="item name" name="name" type='text' required)
										th 
											input.itemValue(placeholder="item value" name="value" type='number' required)
										th
											button.add(class="btn btn-primary btn-xs" type="submit") add item to this room
							tbody.itemsTable
								tr.newItem.template
									th.name(scope='row')
									td.value
									td
										button.edit(class="btn btn-primary btn-xs") edit
										button.delete(class="btn btn-danger btn-xs") delete
								tr.oldItem.template
									th.name(scope='row')
									td.value
									td
										button.edit(class="btn btn-primary btn-xs") edit
										button.delete(class="btn btn-danger btn-xs") delete
	.editterDiv
		.container
			.row
				.col-xs-12.col-sm-2
				.col-xs-12.col-sm-10
					form.messageDiv.editterForm
						.panel.panel-default
							.panel-body
								input(class="name" placeholder="test name" name="name")
								input(class="score" placeholder="test score" name="score")
								input(class="total" placeholder="test total" name="total")
								button(type='submit' class="btn btn-primary btn-xs") update
	.addRoomDiv
		.container
			.row
				.col-xs-12.col-sm-4
				.col-xs-12.col-sm-4
					form.addRoomForm
								h4 Add a Room
								input(class="name form-control" placeholder="Room name" name="name" required)
								br
								button(type='submit' class="btn btn-block btn-primary btn-md") Add
								br
								.cancel(class="btn btn-block btn-default") Cancel
	.editRoomDiv
		.container
			.row
				.col-xs-12.col-sm-4
				.col-xs-12.col-sm-4
					form.editRoomForm.editterForm
								h4 Edit this Room
								input(class="name form-control" placeholder="Room name" name="name" required)
								br
								button(type='submit' class="btn btn-block btn-success btn-md") Update
								br
								button(type='submit' class="btn btn-block btn-danger btn-md") Delete
								br
								.cancel(class="btn btn-block btn-default") Cancel
