extends ./layout.jade

block content
  .container
      .jumbotron
        h3 homeInventory!
        p 
         | Welcome to homeInventory, a home Inventory built with 
         a(href='http://expressjs.com/' target='_blank') Epress
         |  & mySQL.

        p
          a.btn.btn-primary.btn-lg(href='/home', role='button') Go home
